*.log
*.jar
!xvcode-1.0-SNAPSHOT-cl.jar
*/target

*/classes
*/lib

**/classes/
**/lib/

*.md.html
*.prefs


*.class
bin

*.component

org.eclipse.wst.common.project.facet.core.xml
*.jsdtscope

org.eclipse.wst.jsdt.ui.superType.container

org.eclipse.wst.jsdt.ui.superType.name
*.launch


target
.idea

.metadata/


.project
.classpath
*.classpath
*.MF
*.DS_Store

*.iml
